<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.csestateconnect.www.csconnect">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!--
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission
        android:name="android.permission.CAMERA"
        android:required="true" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".IncomingSms">
              
                 
            <intent-filter>
                         
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
                     
            </intent-filter>
             
        </receiver>

        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ProjectDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ProjectImageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FilterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CreateLeadActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Ac_DetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TermsConditionsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PrivacyPolicyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".VerificationActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".Ac_Detail_ProfileActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".Ac_Detail_UpdateActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".VerificationDetailActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".VerificationUpdateActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".LeadActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".LeadDetailActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".LeadInteractionActivitiesActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".CreateLeadInteractionActivitiesActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".LeadFeedbackActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".DealDetailActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".CreateDealsActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".DealChequeImageActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ProfileEditActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".UserProfileActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".NetworkActivity"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>